body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

.flight-types {
  display: flex;
  justify-content: center;
}

.flight-types li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.home-page {
  width: 80%;
  margin: 0 30px;
}

.flight-table__header {
  display: flex;
}

.search {
  width: calc(60%);
}

.flight-row {
  padding: 20px 0;
  display: flex;
  border-bottom: 1px solid black;
}

.flight-row__time {
  width: calc(20%);
}

.flight-row__city {
  width: calc(40%);

}

.flight-row__airline {
  display: flex;
  width: calc(10%);

}

.flight-row__airline-name {
  margin-right: 5px;
}

.flight-row__terminal {
  width: 10%;
}
